.header_area .navbar .nav .nav-item .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    font-weight: bold;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link{
    font-weight: bold;
}
.banner_area .portfolio{
    background: url(../img/portfolio/bg_portfolio.png) no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    background-color: #854eee;
    background-blend-mode: luminosity;
}

.banner_area .contato{
    background: url(../img/bg_contato.png) no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    background-color: #854eee;
    background-blend-mode: luminosity;
}

.banner_area .servicos{
    background: url(../img/services/services.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    background-color: #854eee;
    background-blend-mode: luminosity;
}

.banner_area .sobre{
    background: url(../img/sobre.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    background-color: #854eee;
    background-blend-mode: luminosity;
}


/* Progress Bar */
.progress {
    height: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
    margin-top: -3px;
}
.progress-bar {
    border-radius: 4px;
    float: left;
    width: 0;
    height: 100%;
    font-size: 11px;
    line-height: 18px;
    color: #955251;
    text-align: right;
    padding-right: 15px;
    background-color: #c3d7d8;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Roboto Slab", sans-serif;
}
.storyText {
    padding: 25px;
}
#sectionResume {
    background: #f9f7f8;
}
.resTitle h4{
    color:#fff;
}
.whiteTitle {
    color: #727171 !important;
}
.text-left {
    text-align: justify !important;
}